/*bootstrap Color*/
$danger: #f33155;
$success: #7ace4c;
$warning: #ffbb44;
$primary: #7460ee;
$info: #41b3f9;
$muted: #98a6ad;
$dark: #263238;
$inverse: #4c5667;
$light: #e4e7ea;
$extralight: #f7fafc;

$orange: #F08642;
$dark-blue: #54667A;